// FOOTER SECTION
.footer-section {
  width: 100%;
  height: 270px;
}

.footer-slogan {
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.56em;
}

.footer-highlight {
  color: var(--orange);
}
