.footer {
  background-color: rgb(30, 30, 40);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.footer-container {
  margin: 10px 10px 30px 10px;
}
.chocolate {
  color: rgb(201, 93, 10);
}

.col-1-text {
  font-size: 20pt;
}

.row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}

.col {
  width: 45%;
  padding: auto;
  margin-top: 10px;
}

.contact-icons {
  text-align: right;
}

.icons-and-number {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.icons i {
  margin-right: 10px;
}

.contact-icons h2 {
  margin-bottom: 10px;
}

.navigation-links {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
}

li {
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #333;
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-us h2 {
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 14pt;
}

.icons {
  margin-left: 120px;
  display: flex;
  font-size: 25pt;
}
.number {
  margin-right: 190px;
}

.custom-hr {
  border: 0;
  border-top: 1px solid #6a6767;
  margin: 20px 0;
  padding: 0;
}
