.simplychocolate {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
  letter-spacing: -0.54px;
  padding-left: 20px;
  gap: 4px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.choco {
  color: #111;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.54px;
}


li {
  list-style: none;
}

.social-media-link:hover .social-media{
  stroke: var(--orange);
}

.social-media{
  stroke: var(--black)
}

// Hero section
.header-container {
  display: flex;
  justify-content: space-between;
}

.hero .container {
  background: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url(../images/headerhero/Chocolatehero.jpg),
    lightgray -70.319px -105.03px / 110.32% 139.265% no-repeat;
  width: 100%;
  height: 600px;
  flex-shrink: 0;
  border-radius: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero {
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 72px;
}

.h1hero {
  flex-shrink: 0;
  color: #fff;
  font-family: Montserrat;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 34px; /* 121.429% */
  letter-spacing: -0.84px;
  padding-left: 40px;
  padding-top: 381px;
  
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.navliststyle-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 }

.header-menu{
  display: flex;
  padding: 0;
  gap: 24px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 137px;
  }

.header-link{
  text-decoration: none;
  position: relative;
  color: var(--black);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
 }


 .active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 1px;
  border-radius: 2px;
  width: 100%;
  background-color: var(--orange);
  margin-bottom: -20px;

}

 .social-media-list{
  display: flex;
  gap: 18px;
  padding-right: 20px;
 }

.buynowbutton {
  display: inline-flex;
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  border-radius: 100px;
  background: #fd9222;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: center;
  margin-left: 40px;
  margin-right: 14px;
}

.buynowbutton:hover {
  border-radius: 100px;
  background: #FCF1E0;
  color: #FD9222;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: inline-flex;
 }

.howitsmade {
  padding: 14px 40px;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
  border-radius: 100px;
  border: 1px solid #fff;
  justify-content: center;
  background: none;

}

.howitsmade a{
  text-decoration: none;
  color: var(--white);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.howitsmade:hover {
  border: 1px solid var(--orange);
  color: var(--orange);
}

.howitsmade:hover a{
  color: var(--orange);
}

.divbutton{
  display: flex;
  gap: 14px;
  justify-content: space-between;
}

.scrolldown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin-right: 40px;
  
}

.scrolldown p{
  color: var(--white);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  letter-spacing: -0.42px;

}

.arrowbutton{
  width: 38px;
  height: 38px;
  background-color: var(--white);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowbuttonsvg {
  fill: var(--orange);
}

.scrolldown:hover .arrowbuttonsvg{
  fill: var(--white);
}

.scrolldown:hover .scroll-p{
  color: var(--orange);
}

.scrolldown:hover .arrowbutton{
  background-color: var(--orange);
}

.navigation-mobile {
  margin-left: 0;
}

.menu-mobile .header-link {
  font-size: 36px;
  text-align: start;
  color: var(--white);
}

.menu-mobile{
  flex-direction: column;
  row-gap: 40px;
}

// Mobile view

@media screen and (max-width:767px) {
  .header-menu, .social-media-list {
      display: none;
  }

  .chocolatehero img {
    max-width: 100%;
  }

  .divbutton {
    flex-wrap: wrap;
  }

  .h1hero {
  color: var(--white);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  letter-spacing: -0.6px;
  }

}

.menu-container, .js-menu-container {
  background-color: var(--black);
  width: 100vw;
  height: 100vh;
  }

.menu-mobile {
  margin-top: 156px;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 114.286% */
  letter-spacing: -0.28px;
  row-gap: 24px;
  display: flex;
  }

.header-link.active-mobile {
  color: var(--orange);
}

.social-media-mobile svg{
  stroke: var(--white);
}

