   .header {
       background-color: white;
       padding: 10px;
       text-align: center;
   }

   .list-container {
       display: flex;
    //    justify-content: space-between;
        place-content: center;
   }

   .ul-left {
        width: 600px;
        height: 400px;
        flex-shrink: 0;
        
   }

.himdcontainer {
//    display: flex;
   width: 1136px;
   height: 400px;
   align-items: flex-start;
   gap: 20px;
   flex-shrink: 0;}

   .ul-right {
    //    list-style-type: none;
    //    padding: 0;
        display: flex;
        width: 516px;
        height: 400px;
        padding: 32px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 15px;
        background: #FFF;
        display: flex;
        // width: 452px;
        // height: 260px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        flex-shrink: 0;
   }

   .ul-left li,
   .ul-right li {
       margin: 5px;
   }

   .ul-left {
       background-color: #fd9222;
   }

   .ul-right {
       background-color: yellow;}