.seller-section {
    margin-bottom: 120px;
  }
  .seller-section h1 span {
    color: var(--orange);
  }
  .seller-section h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
}

.seller-section .container {
    padding: 0 33px;
  }
.my-images ul {
    list-style: none;
    display: flex;
    gap: 16px;
    width: 100%;
    height: 100%;
    padding-bottom: 48px;
    
  }
  .my-images ul li{
    width: calc((100% - 16px) / 3 );
  }
  .pic img {
    border-radius: 15px;
  }

  // MODAL STYLING
  .name-container, .name-group {
    display: inline-block;
  }
  .form-title{
color: var(--orange);
text-align: center;
font-family: "Montserrat", sans-serif;
font-weight: 600;
font-size: 24px;
line-height: 1.16667;
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: center;
color: #fd9222;
  }
  span{
    color:black;
  }
.text-container{
  display: flex;
  justify-content: space-between;
}