.seller-section {
    margin-bottom: 120px;
  }
  h1 span {
    color: var(--orange);
  }
  .seller-section .container h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    letter-spacing: -0.72px;
      }