<section class="section">
    <div class="secondcon container">
        
        <ul class="secondarea list">  

            <li class="list-item"> 
                <div class="second-svg-box"> 
                    <svg class="second-svg-icons" width="32" height="32"> 
                    <use href="./images/sprite.svg#chocolate"></use> 
                    </svg>
                </div>

                <h3 class="headers"> Unsurpassed taste </h3> 

                
                <p class="paragraphs"> Crafted with the finest quality cocoa beans </br> and a dedication to perfection, each bite is a </br> decadent experience that simply cannot be </br> matched. Savor the richness and complexity </br> of our Unsurpassed Taste and discover a new </br> level of chocolate </p> 

                <div class="vertical-line">
                    
                </div>

            </li>
        
            <li class="list-item"> 
                <div class="second-svg-box"> 
                    <svg class="second-svg-icons" width="28" height="28"> 
                    <use href="./images/sprite.svg#coins"></use> 
                    </svg>
                </div>

                <h3 class="headers"> Affordable price </h3> 
                <p class="paragraphs"> Indulge in high-quality without </br> breaking the bank with Simple Chocolate's </br> selection of affordable treats. Enjoy mouth- </br> watering truffles and velvety chocolate bars </br> without sacrificing taste of quality. Browse </br> our selection and indulge in affordable luxury </br> today 
                </p> 

                <div class="vertical-line">
                    
                </div>

            </li>
            
            <li class="list-item">  
                <div class="second-svg-box"> 
                    <svg class="second-svg-icons" width="32" height="32"> 
                    <use href="./images/sprite.svg#spoon"></use> 
                    </svg>
                </div>

                    <h3 class="headers"> Own production </h3> 
                        <p class="paragraphs"> We take pride in our own production process, </br> ensuring that every step is carefully crafted to </br> perfection. From selecting the finest </br> ingredients to handcrafting each piece, our </br> attention to detail is evident in every bite. 
                        </p> 
                        
            </li>
            
        </ul>
    </div>
</section>