<section class="section-benefits">
  <div class="secondcon container">
    <ul class="secondarea list">
      <li class="list-item">
        <div class="second-svg-box">
          <svg class="second-svg-icons" width="32" height="32">
            <use href="./images/sprite.svg#chocolate"></use>
          </svg>
        </div>

        <h3 class="headers">Unsurpassed taste</h3>

        <p class="paragraphs">
          Crafted with the finest quality cocoa beans and a dedication to
          perfection, each bite is a decadent experience that simply cannot be
          matched. Savor the richness and complexity of our Unsurpassed Taste
          and discover a new level of chocolate bliss.
        </p>

        <div class="vertical-line"></div>
      </li>

      <li class="list-item">
        <div class="second-svg-box">
          <svg class="second-svg-icons" width="28" height="28">
            <use href="./images/sprite.svg#coins"></use>
          </svg>
        </div>

        <h3 class="headers">Affordable price</h3>
        <p class="paragraphs">
          Indulge in high-quality chocolate without breaking the bank with
          Simple Chocolate's selection of affordable treats. Enjoy mouth-
          watering truffles and velvety chocolate bars without sacrificing taste
          of quality. Browse our selection and indulge in affordable luxury
          today.
        </p>

        <div class="vertical-line"></div>
      </li>

      <li class="list-item">
        <div class="second-svg-box">
          <svg class="second-svg-icons" width="32" height="32">
            <use href="./images/sprite.svg#spoon"></use>
          </svg>
        </div>

        <h3 class="headers">Own production</h3>
        <p class="paragraphs">
          We take pride in our own production process, ensuring that every step
          is carefully crafted to perfection. From selecting the finest
          ingredients to handcrafting each piece, our attention to detail is
          evident in every bite.
        </p>
      </li>
    </ul>
  </div>
</section>
