<footer class="footer-section" id="footer">
  <div class="footer-container">
    <div>
      <h2 class="slogan">
        <span class="slogan-chocolate">Chocolate</span>
        a delicious<br />
        cure for a bad day
      </h2>
    </div>

    <div class="footer-contact">
      <ul class="footer-first-list">
        <li>Contact us</li>
        <li>
          <a class="contact-us" href="tel:+380684439426">+380 (68) 443-94-26</a>
        </li>
        <li>
          <a class="contact-us" href="mailto:simplychoc@gmail.com"
            >simplychoc@gmail.com</a
          >
        </li>
      </ul>

      <ul class="footer-socmed">
        <li>
          <a href="">
            <svg class="footer-icon" width="24" height="24">
              <use href="./images/sprite.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="">
            <svg class="footer-icon" width="24" width="24">
              <use href="./images/sprite.svg#twitter"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <ul class="footer-nav">
    <li><a href="">Home</a></li>
    <li><a href="">How it’s made?</a></li>
    <li><a href="">Our products</a></li>
    <li><a href="">Top sellers</a></li>
    <li><a href="">Chocolate is loved</a></li>
  </ul>
</footer>
