<footer class="footer">
  <div class="footer-container">
    <div class="row">
      <div class="col">
        <h2 class="col-1-text">
          <span class="chocolate">Chocolate</span> a delicious <br />care for a
          bad day
        </h2>
      </div>
      <div class="col">
        <div class="contact-icons">
          <div class="icons-and-number">
            <div class="contact-us">
              <h2>
                <div>Contact us</div>
                <div class="icons">
                  <i class="fa fa-instagram"></i> <i class="fa fa-twitter"></i>
                </div>
              </h2>
            </div>
            <span class="number">+380 (68) 443-94-26</span>
          </div>
        </div>
      </div>
    </div>
    <hr class="custom-hr" />
    <div class="navigation-links">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">How it's made?</a></li>
        <li><a href="">Our Products</a></li>
        <li><a href="">Top sellers</a></li>
        <li><a href="">Chocolate is loved</a></li>
      </ul>
    </div>
  </div>
</footer>
