<header class="header-class"> 
    <div class="header-container container">
    <nav class="navliststyle-header">
      <a class="simplychocolate link">SIMPLY <span class="choco">CHOCOLATE</span></a>
      <use href="./images/sprite.svg#chocobite"></use>
      <ul class="header-menu">
        <li>
          <a class="header-link link active" href="">Home</a>
        </li>
        <li>
          <a class="header-link link" href="">How it's made?</a>
        </li>
        <li>
          <a class="header-link link" href="">Our products</a>
        </li>
        <li>
            <a class="header-link link" href="">Top sellers</a>
          </li>
          <li>
            <a class="header-link link" href="">Chocolate is loved</a>
          </li>
      </ul>
    </nav>
    <ul class="social-media-list list">
            <li class="social-media-item">
              <a class="social-media-link link" href="https://instagram.com" target="_blank" rel="noopener noreferrer">
               <svg class="instagram" width="24" height="24">
                <use href="./images/sprite.svg#instagram"></use>
                </svg>
              </a>
            </li>
            <li class="social-media-item">
                <a class="social-media-link link" href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                 <svg class="twitter" width="24" height="24">
                  <use href="./images/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
    </div>

<!-- Hero -->
<section class="hero">
    <div class="container">
  <h1 class="h1hero">Treat yourself or a loved one to 
    our finest ingredients for a moment 
    of pure delight!</h1>
  <button class="buynowbutton" type="button" data-modal-open>Buy Now</button>
  <button class="howitsmade" type="button" data-modal-open>How it's made</button>
  

  </div>
</section>