<header class="header-class">
  <div class="header-container container">
    <nav class="navliststyle-header">
      <a class="simplychocolate link"
        >SIMPLY <span class="choco">CHOCOLATE</span></a
      >
      <svg class="chocobite" width="24" height="24"><use href="./images/sprite.svg#chocobite"></use></svg>
      <ul class="header-menu">
        <li>
          <a class="header-link link active" href="">Home</a>
        </li>
        <li>
          <a class="header-link link" href="">How it's made?</a>
        </li>
        <li>
          <a class="header-link link" href="">Our products</a>
        </li>
        <li>
          <a class="header-link link" href="">Top sellers</a>
        </li>
        <li>
          <a class="header-link link" href="">Chocolate is loved</a>
        </li>
      </ul>
    </nav>
    <ul class="social-media-list list">
      <li class="social-media-item">
        <a
          class="social-media-link link"
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-media" width="24" height="24">
            <use href="./images/sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li class="social-media-item">
        <a
          class="social-media-link link"
          href="https://instagram.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="social-media" width="24" height="24">
            <use href="./images/sprite.svg#twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <!-- Hero -->
  <section class="hero">
    <div class="container">
      <div>
      <h1 class="h1hero">
        Treat yourself or a loved one to <br> our finest ingredients for a moment<br>of
        pure delight!
      </h1>
      <div class="divbutton">
        <div>
      <button class="buynowbutton" type="button" data-modal-open>
        Buy Now
      </button>
      <button class="howitsmade" type="button" data-modal-open>
        How it's made
      </button>
        </div>
      <div class="scrolldown">
        <p class="scroll-p">scroll down</p>
        <a
          class="arrowbutton link"
          href="#"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="arrowbuttonsvg" width="22" height="22">
            <use href="./images/sprite.svg#arrowbig"></use>
          </svg>
          </a>
      </div>
      </div>
      </div>
    </div>
  </section>
</header>
