<section class="product-section">
  <div class="container">
    <h1>OUR <span>PRODUCTS</span></h1>
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/products/orange.png" alt="Chocolate" />
          <div>
            <h1>ORANGE</h1>
            <p>Dark Chocolate</p>
            <button>45 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/products/apple.png" alt="Chocolate" />
          <div>
            <h1>APPLE&CRANBERRY</h1>
            <p>Milk chocolate</p>
            <button>50 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/products/lime.png" alt="Chocolate" />
          <div>
            <h1>LIME&SEA SALT</h1>
            <p>Dark Chocolate</p>
            <button>66 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/products/pineapple.png" alt="Chocolate" />
          <div>
            <h1>PINEAPPLE</h1>
            <p>Dark Chocolate</p>
            <button>54 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/products/classicmilk.png" alt="Chocolate" />
          <div>
            <h1>CLASSIC</h1>
            <p>Milk Chocolate</p>
            <button>45 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/products/honey.png" alt="Chocolate" />
          <div>
            <h1>HONEY</h1>
            <p>Milk Chocolate</p>
            <button>50 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/products/roasted.png" alt="Chocolate" />
          <div>
            <h1>ROASTED FRUITS</h1>
            <p>Dark Chocolate</p>
            <button>66 UAH</button>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/products/classicwhite.png" alt="Chocolate" />
          <div>
            <h1>CLASSIC</h1>
            <p>Milk Chocolate</p>
            <button>54 UAH</button>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
