<section class="review-section">
  <div class="container">
    <h1 class="review-h1">CHOCOLATE <span>IS LOVED</span></h1>
    <div class="swiper reviewSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/review/victoria.jpg" alt="person" />
          <div>
            <h1>Victoria Dobrzhanska</h1>
            <p>
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
              <br />
              <br />
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/nazar.jpg" alt="person" />
          <div>
            <h1>Nazar Babenko</h1>
            <p>
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/olena.jpg" alt="person" />
          <div>
            <h1>Olena Kampusch</h1>
            <p>
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/shane.jpg" alt="person" />
          <div>
            <h1>Shane Enriquez</h1>
            <p>
              Chocolate is a family favourite treat.Lami kaau, Love the
              delicious smooth chocolate and the creaminess inside. The wafer is
              soft but crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/lloyd.jpg" alt="person" />
          <div>
            <h1>Lloyd Danly Dojillo</h1>
            <p>
              Ang ganda ko as always, Chocolate is a family favourite treat.Lami
              kaau, Love the delicious smooth chocolate and the creaminess
              inside.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/rolie.jpg" alt="person" />
          <div>
            <h1>Roleli P Tullas</h1>
            <p>
              Chocolate is a family favourite treat.Lami kaau, Love the
              delicious smooth chocolate and the creaminess inside. The wafer is
              soft but crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/alfred.jpg" alt="person" />
          <div>
            <h1>Alfred Palomares</h1>
            <p>
              Lami kaau ang chocolate basta gikan abroad , Love the delicious
              smooth chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/jansen.jpg" alt="person" />
          <div>
            <h1>Jansen Ray Jemio</h1>
            <p>
              Chocolate is a family favourite treat.Lami kaau, Love the
              delicious smooth chocolate and the creaminess inside. The wafer is
              soft but crunchy.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="review-btn-div">
      <button class="review-btn">Leave a review</button>
    </div>
  </div>

  <div class="backdrop is-hidden" data-review-modal hidden>
    <div class="modal">
      <button data-modal-close class="close-button" type="button">
        <svg class="close-icons" width="8" height="8">
          <!-- <use href="./images/icons.svg#close" /> -->
        </svg>
      </button>
      <form>
        <button class="modal-button">Send</button>
      </form>
      <!-- </div> -->
    </div>
  </div>
</section>
