<section class="review-section">
  <div class="container">
    <h1 class="review-h1">CHOCOLATE <span>IS LOVED</span></h1>
    <div class="swiper reviewSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./images/review/victoria.jpg" alt="person" />
          <div>
            <h1>Victoria Dobrzhanska</h1>
            <p>
              I love this chocolate bar. Perfect combination of light crispy
              wafer, covered in a thin layer chocolate.
              <br />
              <br />
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/nazar.jpg" alt="person" />
          <div>
            <h1>Nazar Babenko</h1>
            <p>
              This chocolate confection is a delight! A delight! The wafer is
              light and crisp, the hazelnut cream is smooth, and the chocolate
              is good.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/olena.jpg" alt="person" />
          <div>
            <h1>Olena Kampusch</h1>
            <p>
              Chocolate is a family favourite treat. Love the delicious smooth
              chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/shane.jpg" alt="person" />
          <div>
            <h1>Shane Enriquez</h1>
            <p>
              Chocolate is a family favourite treat.Lami kaau, Love the
              delicious smooth chocolate and the creaminess inside. The wafer is
              soft but crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/lloyd.jpg" alt="person" />
          <div>
            <h1>Lloyd Danly Dojillo</h1>
            <p>
              Ang ganda ko as always, Chocolate is a family favourite treat.Lami
              kaau, Love the delicious smooth chocolate and the creaminess
              inside.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/rolie.jpg" alt="person" />
          <div>
            <h1>Roleli P Tullas</h1>
            <p>
              Chocolate is a family favourite treat.Lami kaau, Love the
              delicious smooth chocolate and the creaminess inside. The wafer is
              soft but crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/alfred.jpg" alt="person" />
          <div>
            <h1>Alfred Palomares</h1>
            <p>
              Lami kaau ang chocolate basta gikan abroad , Love the delicious
              smooth chocolate and the creaminess inside. The wafer is soft but
              crunchy.
            </p>
          </div>
        </div>
        <div class="swiper-slide">
          <img src="./images/review/jansen.jpg" alt="person" />
          <div>
            <h1>Jansen Ray Jemio</h1>
            <p>
              Chocolate is a family favourite treat.Lami kaau, Love the
              delicious smooth chocolate and the creaminess inside. The wafer is
              soft but crunchy.
            </p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="review-btn-div">
      <button type="button" class="review-btn" data-modal-review-open>
        Leave a review
      </button>
    </div>
  </div>

  <div class="backdrop is-hidden-review" data-modal-review>
    <div class="modal">
      <h1>LEAVE A REVIEW ABOUT <span>OUR CHOCOLATE</span></h1>
      <button data-modal-review-close class="close-button" type="button">
        <svg class="close-icons" width="28" height="28">
          <use href="./images/sprite.svg#xblack" />
        </svg>
      </button>

      <form>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <div class="form-group">
          <div class="phone-network">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="25"
              viewBox="0 0 32 25"
              fill="none"
            >
              <g clip-path="url(#clip0_14922_3804)">
                <path
                  d="M31.8318 1.05835H0.242676V24.5665H31.8318V1.05835Z"
                  fill="#FFD700"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0.242676 1.05835H31.8318V12.8124H0.242676V1.05835Z"
                  fill="#0057B7"
                />
              </g>
              <defs>
                <clipPath id="clip0_14922_3804">
                  <rect
                    width="32"
                    height="24"
                    fill="white"
                    transform="translate(0 0.800049)"
                  />
                </clipPath>
              </defs>
            </svg>
            <p>+380</p>
          </div>
          <input type="email" placeholder="Phone number" class="phone" />
        </div>
        <textarea
          name="details"
          id="details"
          cols="30"
          rows="5"
          placeholder="Enter Text"
        ></textarea>
        <div><button class="modal-button">Submit</button></div>
      </form>
      <!-- </div> -->
    </div>
  </div>
</section>
