<div class="backdrop is-hidden-subscribe" data-modal-subscribe>
  <div class="subscribe-modal">
    <div class="subscribe-modal-image">
      <button
        type="button"
        class="subscribe-button-close"
        data-modal-subscribe-close
      >
        <svg
          class="subscribe-close-icon"
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
        >
          <use class="sub-close-icon" href="./images/sprite.svg#xblack"></use>
        </svg>
      </button>
    </div>
    <div class="subscribe-modal-input">
      <h1><span>Explore our</span> <br />new chocolate <span>first!</span></h1>
      <form>
        <input
          type="email"
          name="email"
          placeholder="Enter your email"
          required
        />
        <button class="subscribe-btn" type="submit">Subscribe</button>
        <button class="submit-btn" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
