<section class="seller-section">
<div class="container">
<h1>TOP<SPAN>SELLER</SPAN></h1>
<div class="my-images">
    <ul>
        <li class="pic">
            <img src="./images/topseller/choco1.jpg" alt="Chocolate" />
        </li>
        <li class="pic">
            <img src="./images/topseller/choco2.jpg" alt="Chocolate" />
        </li>
        <li class="pic">
            <img src="./images/topseller/choco3.jpg" alt="Chocolate" />
        </li>
    </ul>

       <div class="text-container">
        <div>
    Crazy enough chocolate originates from a bean just like the
        <br>coffee bean called Cacao. Cacao has been around for
        <br>thousands of years and was first discovered by the Native
        <br> American tribe called the Mayans.
        <div class=" text-d"></div>
        <div>
            <Button> Buy now</Button>
        </div>
        </div>
   
   </div>
   
         <div class="modal">
           <button type="button" class="modal-close-btn" data-modal-close>&times;</button>
           <!-- <svg width="18" height="18">
               <use href="./images/icons.svg#close"> </use> 
           </svg> -->
           
           <form class="order-form">
            <p class="form-title">BUY<span>NOW</span> </p>
                   <ul>
                    <li>
                        <img src="./images/topseller/tiny1.png" alt="Chocolate" />
                        <button>100 g</button>
                    </li>
                    <li>
                        <img src="./images/topseller/tiny2.png" alt="Chocolate" />
                        <button>200 g</button>
                    </li>
                    <li>
                        <img src="./images/topseller/tiny3.png" alt="Chocolate" />
                        <button>300 g</button>
                    </li>
                   </ul>
                   <div class="form container"> 
                            <div class="name-container">
                               <div class="name-group">
                                <label for="name" class="order-label">
                                    <p>Personnal Information </p>
                                    <input type="text" class="order-input" placeholder="Name"/>
                                    </label>
                               </div> 
                               <div class="name-group">
                                <label for="Surname" class="order-label">
                                    <p>Surname</p>
                                    <input type="text" class="order-input" placeholder="Surname" />
                               </div>
                                    
                            </div>
                       <div class="phone-container">
                        <div class="phone-group">
                            <svg> </svg>
                            <p>+380</p>
                        </div>
                        <label for="Phone Number" class="phone-group">
                            <p>Phone Number</p>
                            <input type="tel" class="order-input" placeholder="Phone Number" />
                            </label>

                       </div>
                        

                        <label for="card Number" class="order-label">
                            <p>Card Number</p>
                            <input type="text" class="order-input" placeholder="Enter card" />
                            </label>

                            <label for="Card Number" class="order-label">
                                <p>Card Number</p>
                                <input type="text" class="order-input" placeholder="Enter card" />
                            </label>
                           
                            <label>
                               <p>Comment</p>
                                <textarea name="Comment" rows="5" placeholder="Enter"></textarea>
                              </label>

                              <button class="submit-btn" type="submit">Submit</button> 
                        </form>
                    </div>
   </div>
    <div>
</div>
</section>