<section class="seller-section">
<div class="container">
<h1>TOP<SPAN>SELLER</SPAN></h1>
<div class="my-images">
    <ul>
        <li class="pic">
            <img src="./images/topseller/choco1.png" alt="Chocolate" />
        </li>
        <li class="pic">
            <img src="./images/topseller/choco2.png" alt="Chocolate" />
        </li>
        <li class="pic">
            <img src="./images/topseller/choco3.png" alt="Chocolate" />
        </li>
    </ul>
    <div class="description">
   <p>
    Crazy enough chocolate originates from a bean just like the coffee bean called Cacao. Cacao has been around for thousands of years and was first discovered by the Native American tribe called the Mayans.
    Buy now
   </p>
   <button>
    <img src="./images/topseller/button.png" alt="Chocolate" />
        </li>
   </button>
   </div>
    <div>
</div>
</section>